@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;

    --title-font: 'Dancing Script', cursive;
    --paragraph-font: 'Indie Flower', cursive;
}

html, body {
    height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-image: url('https://github.com/lk-gb/syth/blob/main/assets/ela-toda-gay.jpg?raw=true');
    background-size: cover;
    background-position: center;
    
    filter: blur(8px);
    z-index: -1;
}

.text2__title, .polaroid__caption {
    font-family: var(--title-font);
}

.text2__title {
    font-size: 3.5rem;
    text-align: center;
    color: white;
    
    margin-bottom: 1.8rem;
}

.principal {
    padding: 0.5rem 2rem;
}

.principal__text {
    font-size: 1.8rem;

    padding: 2rem;
    margin-bottom: 5rem;

    background-color: #484545d8;
    border-radius: 1.6rem;
}

.principal__text__paragraph {
    line-height: 2.2rem;
}

.principal__text__paragraph + p {
    margin-top: 1.8rem;
}

.images {
    text-align: center;
}

.polaroid {
    padding: 20px;
    margin: 20px auto;
    
    background-color: #a8e4f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);

    height: 45rem;
}

.polaroid img {
    display: block;
    width: 100%;
    height: 34rem;
}

.polaroid__caption {
    margin-top: 1.5rem;
    
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.polaroid__caption + .polaroid__caption {
    margin-top: .6rem;
    font-size: 1.4rem;
}

.swiper {
    width: 70vw;
    height: 45rem;
}

.text2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-block: 1.8rem;

    text-align: center;

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSavOOmJl5un_5atLwIuhR0zPR4Qd8n7z2Yrw&usqp=CAU');
    background-position: center;
    background-size: cover;
}
